{% extends "base.html" %}
{% block nav %}
    <a class="nav-link" href="{% url 'create' %}">Добавить запись</a>
{% endblock %}
{% block content %}
    <div class="page-header d-flex justify-content-between align-items-center my-4 p-3">
        <h1>Записи</h1>
    </div>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for record in records %}
            <div class="col">

                <div class="card card-list border-secondary h-100 mb-3">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-author">{{ record.name }} ( {{ record.email }} ) </h5>
                    </div>
                    <div class="card-body text-secondary d-flex flex-column">
                        <p class="card-text">
                            {% if record.content %}{{ record.content|truncatewords:5 }}{% else %}---{% endif %}</p>
                        <p> {{ record.text }}</p>
                    </div>
                    <div class="text-end me-3">
                        <a href="{% url 'update' record.pk %}" class="btn btn-outline-warning">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#record-{{ record.pk }}-Modal">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Нет данных</p>
        {% endfor %}
    </div>
    {% for record in records %}
        {% include 'partial/record_delete_modal.html' with record=record %}
    {% endfor %}
{% endblock %}